{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>Periodical: {{ periodical.title }} | {{ SITE_CONFIG.SITE_NAME }}</title>
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1>{{ periodical.title }}</h1>
</div>
{% include 'includes/message-alert.html' %}
<p><a href="{% url 'items:list_periodical_issues' periodical.id %}">View issues</a></p>
<table class="table table-hover table-striped">
    <tr>
        <td>Title</td>
        <td>: {{ periodical.title }}</td>
    </tr>
    <tr>
        <td>category</td>
        <td>: <a href="{{ periodical.category.get_absolute_url }}">{{ periodical.category.title }}</a></td>
    </tr>
    <tr>
        <td>Language</td>
        <td>: <a href="{{ periodical.language.get_absolute_url }}">{{ periodical.language.name }}</a></td>
    </tr>
    <tr>
        <td>Publisher</td>
        <td>: {{ periodical.publisher }}</td>
    </tr>
    <tr>
        <td>Tags</td>
        <td>: {{ periodical.get_tags_string }}</td>
    </tr>
    <tr>
        <td>Created by</td>
        <td>: {{ periodical.created_by.get_full_name }}</td>
    </tr>
    <tr>
        <td>Created on</td>
        <td>: {{ periodical.created_on }}</td>
    </tr>
    <tr>
        <td>Last updated by</td>
        <td>: {{ periodical.updated_by.get_full_name }}</td>
    </tr>
    <tr>
        <td>Last updated on</td>
        <td>: {{ periodical.updated_on }}</td>
    </tr>
</table>
{% if periodical.description %}
<blockquote>
    <p>{{ periodical.description }}</p>
</blockquote>
{% endif %}
{% if user.is_staff %}
<p>
    <a href="{% url 'items:edit_periodical' periodical.id %}" class="btn btn-sm btn-primary">Edit</a>
    <a href="{% url 'items:delete_periodical' periodical.id %}" class="btn btn-sm btn-danger">Delete</a>
</p>
{% endif %}
{% endblock content %}