{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>Password Reset | {{ SITE_CONFIG.SITE_NAME }}</title>
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1>Password Reset</h1>
</div>
<p>Please enter the email associated with your account. If you forgot the email or you do not have an email associated with your account, please contact administrators.</p>
<form method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_email">{{ form.email.label_tag }}</label>
        {{ form.email }}
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
{% endblock content %}

{% block footer %}
<script>
    $(function(){
        $('input').addClass('form-control');
    });
</script>
{% endblock footer %}