{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>{{ user_detail.get_full_name }} - Profile | {{ SITE_CONFIG.SITE_NAME }}</title>
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1>{{ user_detail.get_full_name }}</h1>
</div>
{% include 'includes/message-alert.html' %}
<img src="http://www.gravatar.com/avatar/{{ gravathar_hash }}" class="img-thumbnail profile-pic profile-pic-md" />
<table class="table table-striped">
    <tr>
        <td>First name</td>
        <td>: {{ user_detail.first_name }}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>: {{ user_detail.last_name }}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>: {{ user_profile.get_gender_display }}</td>
    </tr>
    <tr>
        <td>Birthday</td>
        <td>: {{ user_profile.birthday }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>: {{ user_detail.email }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>: {{ user_profile.phone }}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>: {{ user_profile.city }}</td>
    </tr><tr>
        <td>State</td>
        <td>: {{ user_profile.state }}</td>
    </tr><tr>
        <td>Country</td>
        <td>: {{ user_profile.country }}</td>
    </tr>
    <tr>
        <td>Zipcode</td>
        <td>: {{ user_profile.zipcode }}</td>
    </tr>
</table>
<p>
    <a class="btn btn-danger btn-sm" href="{% url 'accounts:remove_user' user_detail.username %}">Remove User</a>
    {% if is_admin %}<a class="btn btn-primary btn-sm" href="{% url 'accounts:change_staff_status' user_detail.username %}">{% if user_detail.is_staff %}Remove from staffs{% else %}Add to staffs{% endif %}</a>
    <a class="btn btn-primary btn-sm" href="{% url 'accounts:change_admin_status' user_detail.username %}">{% if user_detail.is_superuser %}Remove from admins{% else %}Add to admins{% endif %}</a>{% endif %}
</p>
{% endblock content %}