{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>Search Books | {{ SITE_CONFIG.SITE_NAME }}</title>
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1>Search Books</h1>
</div>
<form class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control" name="term" placeholder="Search books" {% if term %}value="{{ term }}"{% endif %} />
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>
<p>&nbsp;</p>
{% if book_details %}
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Language</th>
    </tr>
    {% for book_detail in book_details %}
    <tr>
        <td>{{ book_detail.id }}</td>
        <td><a href="{{ book_detail.get_absolute_url }}">{{ book_detail.title }}</a></td>
        <td>{{ book_detail.author }}</td>
        <td>{{ book_detail.category }}</td>
        <td>{{ book_detail.language }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if term and not book_details %}<p>No books found for {{ term }}.</p>{% endif %}

{% if book_details.has_previous or book_details.has_next %}
<nav>
    <ul class="pager">
        {% if book_details.has_previous %}<li class="previous"><a href="{% url 'items:list_book_details' %}?page={{ book_details.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>{% endif %}
        {% if book_details.has_next %}<li class="next"><a href="{% url 'items:list_book_details' %}?page={{ book_details.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>{% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}

{% block sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Quick Links</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'search:search_periodicals' %}">Search Periodicals</a> </li>
    </ul>
</div>
{% endblock sidebar %}