{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>Search Periodicals | Livre</title>
{% endblock head %}

{% block content %}
<div class="page-header">
    <h1>Search Periodicals</h1>
</div>
<form class="form-inline">
    <div class="form-group">
        <input type="search" class="form-control" name="term" placeholder="Search periodicals" {% if term %}value="{{ term }}"{% endif %} />
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>
<p>&nbsp;</p>
{% if periodicals %}
{% for periodical in periodicals %}
<h3><a href="{{ periodical.get_absolute_url }}">{{ periodical.title }}</a></h3>
<p>
    Category: {{ periodical.category }}
    <br />
    Language: {{ periodical.language }}
</p>
<hr />
{% endfor %}
{% endif %}

{% if term and not periodicals %}<p>No periodicals found for {{ term }}.</p>{% endif %}

{% if book_details.has_previous or book_details.has_next %}
<nav>
    <ul class="pager">
        {% if book_details.has_previous %}<li class="previous"><a href="{% url 'items:list_book_details' %}?page={{ book_details.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>{% endif %}
        {% if book_details.has_next %}<li class="next"><a href="{% url 'items:list_book_details' %}?page={{ book_details.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>{% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}

{% block sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Quick Links</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'search:search_books' %}">Search Books</a></li>
    </ul>
</div>
{% endblock sidebar %}